.game, .main-character-panel, .game-end, .game-row {
  display: none;
}

.game-end-div {
  float: right;
  position: absolute;
  left: 25%;
}


.user-info {
  height: 30vh
}

.start-btn {
  margin-top: 15%;
  height: 35%;
  width: 15%;
}

.game-chat-box {
  height: 500px;
  /*overflow-y: scroll;*/
}

.in-game-text {
  height:100%;
  overflow-y: scroll;
  flex:1;
  display:flex;
  flex-direction: column-reverse;
}

.text-object {
  color:blue;
}

.text-enemy {
  color:red;
}

.game-row {
  height: 800px;
}
