.game, .main-character-panel, .game-end {
  display: none;
}

.game-end-div {
  float: right;
  position: absolute;
  left: 25%;
}


.user-info {
  height: 30vh
}

.start-btn {
  margin-top: 15%;
  height: 35%;
  width: 15%;
}

.game-chat-box {
  height: 800px;
  overflow-y: scroll;
}
